PRE {
	background-color: #EEEEEE;
	margin: 12px 12px 12px 12px;
	padding: 8px 8px 8px 8px;
}
A { text-decoration: none; color: #2222FF; }
A:visited { color: #0000B0; }
A:hover { text-decoration: underline; }
H2 { color: #446688; }

#head { background-color: #8888FF; padding: 5px; border: 1px solid #7777FF; color: white; font-weight: bold; }
#head A, #head A:visited, #head A:hover { color: white; }
