<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<meta http-equiv="refresh" content="8">
<LINK href="styles/iframe.css" type=text/css rel=stylesheet>
</HEAD>
<BODY>
		<script type="text/javascript" defer="defer">

		</script>

<div id ="basic_table" style = "position:absolute; left:5px; top:5px;">
	<table class="basic">
		<CAPTION>Basic info guild</CAPTION>
		<tr>
			<td class="basic">&nbsp;</td>
			<th class="basic">Name:</th>
			<td class="basic">{characterGuildName}</td>
		</tr>
		<tr>
			<td class="basic">&nbsp;</td>
			<th class="basic">Level:</th>
			<td class="basic">{guildLv}</td>
		</tr>
		<tr>
			<td class="basic">&nbsp;</td>
			<th class="basic">Exp:</th>
			<td class="basic">{guildExp}/{guildExpNext}</td>
		</tr>
		<tr>
			<td class="basic">&nbsp;</td>
			<th class="basic">Master:</th>
			<td class="basic">{guildMaster}</td>
		</tr>
		<tr>
			<td class="basic">&nbsp;</td>
			<th class="basic">Connect:</th>
			<td class="basic">{guildConnect}/{guildMember}</td>
		</tr>		
	</table>
</div>

<div id ="member_table" style = "position:absolute; left:5px; top:150px;">
	<table class="status" width="760">
	<CAPTION>Member guild</CAPTION>
	<tr>
		<td class="status">{startLoop}<b>Index: </b>{guildListMemberIndex} <b>Name: </b>{guildListMemberName} <b>Class: </b>{guildListMemberClass} <b>lvl: </b>{guildListMemberLvl} <b>Title: </b>{guildListMemberTitle} <b>Online: </b>{guildListMemberOnline}  <br>{endLoop}</td>
	</tr>
	</table>
</div>

</BODY>
</HTML>
