<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<LINK href="styles/default.css" type=text/css rel=stylesheet>
<title>Botmonitor {version} monitoring: {characterName} - {characterJob} {characterSex} </title>
<!-- Template made by Bibian A.K.A. ViVi -->
</HEAD>
<BODY>
<div id ="menu" style = "position:absolute; left:5px; top:5px; width:100px; height:524px; z-index:1"> 
	<table width="100px" class="menu">
		<tr><td class="odd"><a href="status.html" target="data">Status</a></td></tr>
		<tr><td class="even"><a href="inventory.html" target="data">Inventory</a></td></tr>
		<tr><td class="odd"><a href="chat.html" target="data">Chat</a></td></tr>
		<tr><td class="even"><a href="guild.html" target="data">Guild</a></td></tr>
		<tr><td class="odd"><a href="shop.html" target="data">Shop</a></td></tr>
		<tr><td class="even">Players</td></tr>
		<tr><td class="odd"><a href="npcs.html" target="data">NPC's</a></td></tr>
		<tr><td class="even"><a href="skills.html" target="data">Skills</a></td></tr>
		<tr><td class="odd"><a href="console.html" target="data">Console</a></td></tr>
		<tr><td class="even">???</td></tr>
		<tr><td class="odd">???</td></tr>
		<tr><td class="even">???</td></tr>
		<tr><td class="odd">???</td></tr>
		<tr><td class="even">???</td></tr>
		<tr><td class="odd">Advanced</td></tr>
	</table>
</div>
<div id ="data" style = "position:absolute; left:150px; top:5px; width:800px; height:524px; z-index:2"> 
	<IFRAME name="data" src="status.html" frameborder=0 scrolling=auto width=800 height=524></IFRAME>
</div>	
<div id ="nov" style = "position:absolute; left:5px; top:526px; width:945px; z-index:2"> 
	<IFRAME name="nov" src="nov.html" frameborder=0 scrolling=auto width=945></IFRAME>
</div>	
</BODY>
</HTML>
