<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<LINK href="styles/default.css" type=text/css rel=stylesheet>
<title>Botmonitor {version} monitoring: {characterName} - {characterJob} {characterSex} </title>
<!-- Template made by Bibian A.K.A. ViVi -->
</HEAD>
<BODY>
<div id ="menu" style = "position:absolute; left:5px; top:5px; width:100px; height:524px; z-index:1"> 
	<table width="100px" class="menu">
		<tr><td class="odd"><a href="status.html" target="data">Status</a></td></tr>
		<tr><td class="even">Inventory</td></tr>
		<tr><td class="odd">Report</td></tr>
		<tr><td class="even">Chatlog</td></tr>
		<tr><td class="odd">Guild</td></tr>
		<tr><td class="even">Shop</td></tr>
		<tr><td class="odd">Players</td></tr>
		<tr><td class="even">Monsters</td></tr>
		<tr><td class="odd">Items</td></tr>
		<tr><td class="even">NPC's</td></tr>
		<tr><td class="odd">Skills</td></tr>
		<tr><td class="even">???</td></tr>
		<tr><td class="odd">???</td></tr>
		<tr><td class="even">???</td></tr>
		<tr><td class="odd">Advanced</td></tr>
	</table>
</div>
<div id ="data" style = "position:absolute; left:150px; top:5px; width:800px; height:524px; z-index:2"> 
	<IFRAME name="data" src="status.html" frameborder=0 scrolling=auto width=800 height=524></IFRAME>
</div>	
</BODY>
</HTML>
