<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<meta http-equiv="refresh" content="2">
<LINK href="styles/iframe.css" type=text/css rel=stylesheet>
</HEAD>
<BODY>
<!--[PT-BR] Este formulário fica na parte inferior, apenas mostrando as ultimas três mensagens do console do OpenKore 
	[EN]    This form is at the bottom, just showing the last three messages of openkore's console.-->

<div id ="console_table" style = "position:relative; left:5px; top:5px;">
	<table class="console">
		<mCAPTION>Last three console messages</mCAPTION>
			<td class="console">{lastConsoleMessage3}<br>{lastConsoleMessage2}<br>{lastConsoleMessage}</td>
	</table>
</div>

</BODY>
</HTML>