<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<LINK href="styles/iframe.css" type=text/css rel=stylesheet>
</HEAD>
<BODY>
<!-- [PT-BR]
	 [EN] -->

<script type="text/javascript" defer="defer">
		<!-- [PT-BR] Esta function tem com função enviar o comando ao OpenKore
		<!--  A leitura é feito no arquivo "webMonitorServer.pm", na sub "handle"
		<!-- [EN] This function has function with send the command to the OpenKore
		<!--  The reading is done in the "webMonitorServer.pm", in sub "handle"
		
			function send_command() {
				var tc = document.getElementById("text_command");
				var combo = document.getElementById("sel");
				window.location.href = '../handler?command=' + combo.options[combo.selectedIndex].value + tc.value + '&page={skin}/npcs.html';
			}

		<!-- [PT-BR] Esta function serve para apenas reconhecer a tecla "enter" para enviar
		<!--  o comando
		<!-- [EN] This function only serves to recognize the "enter" key to send
		<!--  the command		
			function submitenter(e) {
				var keycode;
				if (window.event) keycode = window.event.keyCode;

				if (keycode == 13) {
					send_command();
				}
			}
			
		<!-- [PT-BR] 
		<!-- [EN]
			function talk_commands(escolha) {
				var escolhido = escolha.options[escolha.selectedIndex].value;
				text_command.value = escolhido;
				
				if (escolhido == ''){
				document.getElementById('tip').innerHTML= "Tip";
				}
				
				if (escolhido == 'talk cont'){
				document.getElementById('tip').innerHTML= "Continue talking to NPC. This is the same as clicking the next button when talking to an NPC in the Ragnarok Online Client.";
				}
				
				if (escolhido == 'talk resp'){
				document.getElementById('tip').innerHTML= "Display the list of available responses to NPC.";
				}
				
				if (escolhido == 'talk resp '){
				document.getElementById('tip').innerHTML= "Usage talk resp &ltresponse #> : Send a response to an NPC (when prompted for a response).";
				}
				
				if (escolhido == 'talk num '){
				document.getElementById('tip').innerHTML= "Usage talk num &ltnumber> : Send a number to NPC (when prompted for a number).";
				}
				
				if (escolhido == 'talk text '){
				document.getElementById('tip').innerHTML= "Usage talk text &ltstring> : Send text/string to NPC.";
				}
				
				if (escolhido == 'talk no'){
				<!--text_command.value = 'talk num ';
				document.getElementById('tip').innerHTML= "End or cancel conversation with NPC.";
				}
				
				if (escolhido == 'c ') {
				document.getElementById('tip').innerHTML= "Usage <b>c</b> &ltmessage> : Send a message in the public";
				}
				
				if (escolhido == 'p ') {
				document.getElementById('tip').innerHTML= "Usage <b>p</b> &ltmessage> : Send a message in the party";
				}

				if (escolhido == 'g ') {
				document.getElementById('tip').innerHTML= "Usage <b>g</b> &ltmessage> : Send a message in the guild";
				}				
			}
			
		<!-- [PT-BR] Interagir com o NPC de acordo com o ID dele
		<!-- [EN] Interacting with the NPC according with your ID
		
		<!-- Talk
			function talk(npc_i){
				text_command.value = 'talk ' + npc_i;
				document.getElementById('tip').innerHTML= "Usage <b>talk</b> &ltnpc #>: Manually talk to an NPC.";
			}	
</script>	 

<div id ="nov" style = "position:absolute; left:5px; top:5px; width:760px; height:200px; z-index:2"> 
	<IFRAME name="nov" src="log.html" frameborder=0 scrolling=auto width=760 height=200px></IFRAME>	
	<select size="1" id="sel" onChange="talk_commands(this)">
		<option selected value="">Console</option>
		<option value="talk cont">Continue talking</option>
		<option value="talk resp">Display the list of available responses</option>
		<option value="talk resp ">Send a response to an NPC</option>
		<option value="talk num ">Send a number to NPC</option>
		<option value="talk text ">Send text</option>
		<option value="talk no">End or cancel conversation</option>		
		<option value="c ">Chat</option>
		<option value="p ">Grupo</option>
		<option value="g ">Guild</option>
	</select>
	<input type="text" size="75" id="text_command" onKeyPress="submitenter(this.event)"/><br>
	<input type="button" value="Send command" onClick="send_command()"><br>

	<div id="tip">Tip</div>	
	
	<table class="npcs" width="750">
	<CAPTION>NPC's</CAPTION>
	<tr>
		<td class="list" id="lista_npcs">{startLoop}<b>ID: </b>{npcBinID} <b>Name: </b> {npcName} <b>Pos: </b> {npcLocationX} {npcLocationY} <b>#: </b> {npcNameID}  {npcTalkJS}<br>{endLoop}</td>
	</tr>
	</table>	
</div>
	
</BODY>
</HTML>