<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<LINK href="styles/iframe.css" type=text/css rel=stylesheet>
</HEAD>
<BODY>
<!-- [PT-BR]
	 [EN] -->

<script type="text/javascript" defer="defer">
		<!-- [PT-BR] Esta function tem com função enviar o comando ao OpenKore
		<!--  A leitura é feito no arquivo "webMonitorServer.pm", na sub "handle"
		<!-- [EN] This function has function with send the command to the OpenKore
		<!--  The reading is done in the "webMonitorServer.pm", in sub "handle"
		
			function send_command() {
				var tc = document.getElementById("text_command");
				var combo = document.getElementById("sel");
				window.location.href = '../handler?command=' + combo.options[combo.selectedIndex].value + tc.value + '&page={skin}/inventory.html';
			}

		<!-- [PT-BR] Esta function serve para apenas reconhecer a tecla "enter" para enviar
		<!--  o comando
		<!-- [EN] This function only serves to recognize the "enter" key to send
		<!--  the command		
			function submitenter(e) {
				var keycode;
				if (window.event) keycode = window.event.keyCode;

				if (keycode == 13) {
					send_command();
				}
			}
			
		<!-- [PT-BR]
		<!-- [EN]
			function exibir() {
				var escolhido = lista_loja.options[lista_loja.selectedIndex].value;			

				window.location.href = '../handler?shop=' + escolhido + '&page={skin}/status.html';
			}

		<!-- [PT-BR]
		<!-- [EN]			
			function buy(shop_id, item_id){
				text_command.value = 'vender ' + shop_id + ' ' + item_id;
				document.getElementById('tip').innerHTML= "Usage <b>vender</b>: vender &ltvender #> | &ltvender #> &ltvender item #> [&ltamount>]";
			}
</script>	 

<div id ="nov" style = "position:absolute; left:5px; top:5px; width:760px; height:200px; z-index:2"> 
	<IFRAME name="nov" src="log.html" frameborder=0 scrolling=auto width=760 height=200px></IFRAME>	
	<select size="1" id="lista_loja" onChange="exibir()">
		<option selected value="">Choose a shop to view</option>
		{startLoop}{shopListComboBox}{endLoop}
	</select>
	<input type="text" size="60" id="text_command" onKeyPress="submitenter(this.event)"/><br>
	<input type="button" value="Send command" onClick="send_command()"><br>
	<div id="tip">Tip</div>	
	
	<table class="inventory" width="750">
	<CAPTION>Shop</CAPTION>
	<tr>
		<td class="list" id="lista_itens">{startLoop}<b>#</b>{shopNumber} <b>Name: </b>{shopName}  <b>Price: </b> {shopPrice}  <b>Amount: </b>{shopAmount}   {shopJS}<br>{endLoop}</td>
	</tr>
	</table>	
</div>
	
</BODY>
</HTML>