<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<LINK href="styles/iframe.css" type=text/css rel=stylesheet>
</HEAD>
<BODY>
<!-- [PT-BR] Exibe as habilidades, informações relativas a elas e usá-las.
	  A parte de enviar comandos é a mesma encontrada no console.html
	 [EN] Displays the skills, information about them and use them.
      This part that send commands is the same as found on console.html
-->

<script type="text/javascript" defer="defer">
		<!-- [PT-BR] Esta function tem com função enviar o comando ao OpenKore
		<!--  A leitura é feito no arquivo "webMonitorServer.pm", na sub "handle"
		<!-- [EN] This function has function with send the command to the OpenKore
		<!--  The reading is done in the "webMonitorServer.pm", in sub "handle"
		
			function send_command() {
				var tc = document.getElementById("text_command");
				var combo = document.getElementById("sel");
				window.location.href = '../handler?command=' + combo.options[combo.selectedIndex].value + tc.value + '&page={skin}/skills.html';
			}

		<!-- [PT-BR] Esta function serve para apenas reconhecer a tecla "enter" para enviar
		<!--  o comando
		<!-- [EN] This function only serves to recognize the "enter" key to send
		<!--  the command		
			function submitenter(e) {
				var keycode;
				if (window.event) keycode = window.event.keyCode;

				if (keycode == 13) {
					send_command();
				}
			}

	<!-- [PT-BR] Apartir daqui começa as funções para usar as habilidades.
	<!--  Para saber melhor, veja no arquivo webMonitorServer.pm como a array skillsList foi modificada.
	<!-- [EN] From here begins the functions to use skills.
    <!-- To better understand, see on file webMonitorServer.pm as skillList array has been modified.

	<!-- Enemy
	function enemy(IDenemy){
		text_command.value = 'sm ' + IDenemy;
		document.getElementById('tip').innerHTML= "Usage <b>s</b>kill on <b>m</b>onster: sm &ltskill> &ltmonster #> [level]";
	}	
	<!-- Self	
	function self(IDself){
		text_command.value = 'ss ' + IDself;
		document.getElementById('tip').innerHTML= "Usage <b>s</b>kill on <b>s</b>elf: ss &ltskill #> [level]";
	}
	<!-- Location
	function locat(IDlocation){
		text_command.value = 'sl ' + IDlocation;
		document.getElementById('tip').innerHTML= "Usage <b>s</b>kill on ground <b>l</b>ocation: sl &ltskill #> &ltx> &lty> [level]";
	}	
	<!-- Actor
	function actor(IDactor){
		text_command.value = 'sp ' + IDactor;
		document.getElementById('tip').innerHTML= "Usage <b>s</b>kill on <b>p</b>layer: sp &ltskill #> [level]";
	}

	<!-- [PT-BR] Aumentar o nível da habilidade
	<!-- [EN] Increase the level of skill
	function skill_up(ID){
		window.location.href = '../handler?command=skills add ' + ID + '&page={skin}/status.html';
	}
</script>

<div id ="nov" style = "position:absolute; left:5px; top:5px; width:760px; height:200px; z-index:2"> 
	<IFRAME name="nov" src="log.html" frameborder=0 scrolling=auto width=760 height=200px></IFRAME>	
	<select size="1" id="sel">
		<option selected value="">Console</option>
		<option value="c ">Chat</option>
		<option value="p ">Grupo</option>
		<option value="g ">Guild</option>
	</select>
	<input type="text" size="105" id="text_command" onKeyPress="submitenter(this.event)"/><br>
	<input type="button" value="Send command" onClick="send_command()"><br>
	
	<div id="tip">Tip</div>
</div>

<div id ="skills_table" style = "position:absolute; left:5px; top:285px;">
	<table class="skills" width="760">
	<CAPTION>Skills (Skill Points: {characterSkillPoints})</CAPTION>
	<tr>
		<td class="list" id="list_skills">{startLoop}<img src="skills/{skillsIDN}.gif"> {skillsIcoUp} <b>IDN:</b> {skillsIDN} - <b>Name:</b> {skillsName} - <b>Level:</b> {skillsLevel}   {skillsJS}<br>{endLoop}</td>
	</tr>
	</table>
</div>

</BODY>
</HTML>