<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<meta http-equiv="refresh" content="3">
<LINK href="styles/iframe.css" type=text/css rel=stylesheet>
</HEAD>
<BODY>

		<style>
		.ponto {  background-color: #0000FF; position: absolute; overflow: hidden;}
		</style>
		
		<script type="text/javascript" defer="defer">
			function geraPonto(x, y, nome, elempai) {
				//Agradecimentos a Micox por ajudar a fazer essa função
				var pixel = document.createElement('div');
				pixel.id = nome;
				pixel.className = 'ponto';
				pixel.style.width = pixel.style.height = 8 + 'px'
				pixel.style.left = x + 'px';
				pixel.style.top = y + 'px';
				pixel.style.opacity = 0.6;
				return elempai.appendChild(pixel);
			}
			
			window.onload = function atualizar(){
			<!-- [PT-BR] Imagem do mapa:
			<!-- [PT-BR] Map image:
				var im = document.getElementById("iMap");
				im.src = 'map/{characterLocationMap}.bmp';
				
			<!-- [EN]
			<!-- WARNING : This is only an example, because it's still not working.
			<!-- Player Position :			
			<!-- Officially, in game, 1xy (Coordinates) is equal to 1,32 pixels
			<!--   var Xconv = {characterLocationX} * 1.32;
			<!--   var Yconv = {characterLocationY} * 1,32
			<!--   generatesPoint(3 - 4 + Xconv,((-22 - 4 + Yconv) - 499) * -1,'pplayer',idmap;
			<!-- Explaining the calculations :
			<!-- 22 = To disregard the title of DIV
			<!-- 3= To disregard the marge of DIV
			<!-- -4 = To disregard the size of square which indicates the player position						

			<!-- [PT-BR]
			<!-- AVISO: Isso serve apenas como exemplo, pois ainda não esta funcionando perfeitamente!
			<!--  Posição do jogador:			
			<!--  Oficialmente, 1xy coordenada no Ragnarok equivalem a 1,32 pixels
			<!--	var Xconv = {characterLocationX} * 1.32;
			<!--	var Yconv = {characterLocationY} * 1.32;
			<!--	geraPonto(3 - 4 + Xconv,((-22 - 4 + Yconv) - 499) * -1,'pplayer',idmap);
			<!-- Explicando os calculos no geraPonto:
			<!-- 22 = Para desconsiderar o título da DIV
			<!-- 3  = Para desconsiderar a borda da DIV
			<!-- -4 = Para desconsiderar o tamanho do quadrado da qual aponta a posisão do jogador
			
			<!-- [PT-BR] Função de mudar a imagem de aumentar atributos, caso tenha ponto suficiente
			<!-- [EN] Changes the function of increase attributes, if you have enough points
				var MSTR = document.getElementById("SSTR");	
					if ({characterStrPoints} > {characterFreePoints}){
					MSTR.src = 'images/sempontos.png';
					} else {
					MSTR.src = 'images/arrow.png';
					}
				
				var MAGI = document.getElementById("SAGI");	
					if ({characterAgiPoints} > {characterFreePoints}){
					MAGI.src = 'images/sempontos.png';
					} else {
					MAGI.src = 'images/arrow.png';
					}
			
				var MVIT = document.getElementById("SVIT");	
					if ({characterVitPoints} > {characterFreePoints}){
					MVIT.src = 'images/sempontos.png';
					} else {
					MVIT.src = 'images/arrow.png';
					}
				
				var MINT = document.getElementById("SINT");	
					if ({characterIntPoints} > {characterFreePoints}){
					MINT.src = 'images/sempontos.png';
					} else {
					MINT.src = 'images/arrow.png';
					}

				var MDEX = document.getElementById("SDEX");	
					if ({characterDexPoints} > {characterFreePoints}){
					MDEX.src = 'images/sempontos.png';
					} else {
					MDEX.src = 'images/arrow.png';
					}

				var MLUK = document.getElementById("SLUK");	
					if ({characterLukPoints} > {characterFreePoints}){
					MLUK.src = 'images/sempontos.png';
					} else {
					MLUK.src = 'images/arrow.png';
					}	
			}
		</script>

		
<div id ="status_table" style = "position:absolute; left:5px; top:5px;"> 
	<table class="status">
		<CAPTION>Character Status</CAPTION>
		<tr>
			<td class="status">&nbsp;</td>
			<th class="status">Name:</th>
			<td class="status">{characterName}</td>
			<td class="status">&nbsp;</td>
			<th class="status">HP:</th>
			<td class="status">{characterHP} / {characterHPMax} ({characterHPPercent}%)</td>
		</tr>
		<tr>
			<td class="status">&nbsp;</td>
			<th class="status">Job/Sex:</th>
			<td class="status">{characterJob} {characterSex}</td>
			<td class="status">&nbsp;</td>
			<th class="status">SP:</th>
			<td class="status">{characterSP} / {characterSPMax} ({characterSPPercent}%)</td>
		</tr>
		<tr>
			<td class="status">&nbsp;</td>
			<th class="status">Base:</th>
			<td class="status">{characterLevel}</td>
			<td class="status">&nbsp;</td>
			<th class="status">Exp:</th>
			<td class="status">{characterBaseExp} / {characterBaseMax} ({characterBasePercent}%)</td>
		</tr>
		<tr>
			<td class="status">&nbsp;</td>
			<th class="status">Job:</th>
			<td class="status">{characterJobLevel}</td>
			<td class="status">&nbsp;</td>
			<th class="status">Exp:</th>
			<td class="status">{characterJobExp} / {characterJobMax} ({characterJobPercent}%)</td>
		</tr>
		<tr>
			<td class="status">&nbsp;</td>
			<th class="status">Zeny:</th>
			<td class="status">{characterZeny}</td>
			<td class="status">&nbsp;</td>
			<th class="status">Weight:</th>
			<td class="status">{characterWeight} / {characterWeightMax} ({characterWeightPercent}%)</td>
		</tr>
		<tr>
			<td class="status">&nbsp;</td>
			<th class="status">Spirits:</th>
			<td class="status">{characterSpirits}</td>
		</tr>
	</table>
</div>

<div id ="status_points_table" style = "position:absolute; left:410px; top:5px;">
	<table class="status">
		<CAPTION>Character Stats</CAPTION>
		<tr>
			<th class="status">STR:</th>
			<td class="status">{characterStr}</td>
			<td class="status">+{characterStrBonus}</td>
			<td class="status" ><a href="/handler?command=stat_add+str&page={skin}/status.html"><img id="SSTR"></a></td>
			<th class="status">&nbsp;</th>
			<th class="status">#{characterStrPoints}</th>
			<th class="status">&nbsp;</th>
			<th class="status">Atk:</th>
			<td class="status">{characterAttack}+{characterAttackBonus}</td>
			<td class="status"></td>
			<th class="status">Def:</th>
			<td class="status">{characterDef}+{characterDefBonus}</td>
		</tr>
		<tr>
			<th class="status">AGI:</th>
			<td class="status">{characterAgi}</td>
			<td class="status">+{characterAgiBonus}</td>
			<td class="status"><a href="/handler?command=stat_add+agi&page={skin}/status.html"><img id="SAGI"></a></td>
			<th class="status">&nbsp;</th>
			<th class="status">#{characterAgiPoints}</th>
			<th class="status">&nbsp;</th>
			<th class="status">Matk:</th>
			<td class="status">{characterAttackMagicMax}+{characterAttackMagicMin}</td>
			<td class="status">&nbsp;</td>
			<th class="status">Mdef:</th>
			<td class="status">{characterDefMagic}+{characterDefMagicBonus}</td>
		</tr>
		<tr>
			<th class="status">VIT:</th>
			<td class="status">{characterVit}</td>
			<td class="status">+{characterVitBonus}</td>
			<td class="status"><a href="/handler?command=stat_add+vit&page={skin}/status.html"><img id="SVIT"></a></td>
			<th class="status">&nbsp;</th>
			<th class="status">#{characterVitPoints}</th>
			<th class="status">&nbsp;</th>
			<th class="status">Hit:</th>
			<td class="status">{characterHit}</td>
			<td class="status">&nbsp;</td>
			<th class="status">Flee:</th>
			<td class="status">{characterFlee}+{characterFleeBonus}</td>
		</tr>
		<tr>
			<th class="status">INT:</th>
			<td class="status">{characterInt}</td>
			<td class="status">+{characterIntBonus}</td>
			<td class="status"><a href="/handler?command=stat_add+int&page={skin}/status.html"><img id="SINT"></a></td>
			<th class="status">&nbsp;</th>
			<th class="status">#{characterIntPoints}</th>
			<th class="status">&nbsp;</th>
			<th class="status">Crit:</th>
			<td class="status">{characterCritical}</td>
			<td class="status">&nbsp;</td>
			<th class="status">Aspd:</th>
			<td class="status">{characterAttackSpeed}</td>
		</tr>
		<tr>
			<th class="status">DEX:</th>
			<td class="status">{characterDex}</td>
			<td class="status">+{characterDexBonus}</td>
			<td class="status"><a href="/handler?command=stat_add+dex&page={skin}/status.html"><img id="SDEX"></a></td>
			<th class="status">&nbsp;</th>
			<th class="status">#{characterDexPoints}</th>
			<th class="status">&nbsp;</th>
			<th class="status">Stat Points:</th>
			<td class="status">{characterFreePoints}</td>
		</tr>
		<tr>
			<th class="status">LUK:</th>
			<td class="status">{characterLuk}</td>
			<td class="status">+{characterLukBonus}</td>
			<td class="status"><a href="/handler?command=stat_add+luk&page={skin}/status.html"><img id="SLUK"></a></td>
			<th class="status">&nbsp;</th>
			<th class="status">#{characterLukPoints}</th>
			<th class="status">&nbsp;</th>
		</tr>
		<tr>
			<th class="status">Guild:</th>
			<td class="status" colspan="8">{characterGuildName}</td>
		</tr>
	</table>
</div>

<div id ="mapa" style = "position:absolute; left:5px; top:190px;">
	<table class="map">
		<CAPTION>Mapa</CAPTION>
		<tr>
			<td class="map" id="clmapa"><img id="iMap"></td>
			<td class="map">&nbsp;</td>
		</tr>
	</table>
</div>

<div id ="mapa_infos" style = "position:absolute; left:305px; top:210px;">
	<table class="map_i">
		<tr>
			<td class="map_i">&nbsp;</td>
			<th class="map_i">Location:</th>
			<td class="map_i">{characterLocationMap}</td>
		</tr>
		<tr>
			<td class="map_i">&nbsp;</td>
			<th class="map_i">Coords:</th>
			<td class="map_i">{characterLocationX},{characterLocationY}</td>
		</tr>
		<tr>
			<td class="map_i">&nbsp;</td>
			<th class="map_i">Going to:</th>
			<td class="map_i">{characterGetRouteX},{characterGetRouteY} (faltam {characterGetTimeRoute}s)</td>	
		</tr>
	</table>
</div>

<div id ="status_points_table" style = "position:absolute; left:5px; top:750px;">
	<table class="status">
		<CAPTION>Looks/Equipment</CAPTION>
		<tr>
			<th class="status">Hair:</th>
			<td class="status" colspan="4">{characterHairColor}</td>
		</tr>
		<tr>
			<th class="status">Hairstyle:</th>
			<td class="status">???</td>
			<td class="status">&nbsp;</td>
			<th class="status">Arrow:</th>
			<td class="status">{characterArrow}</td>
		</tr>
		<tr>
			<th class="status">Upper Head:</th>
			<td class="status">{characterTopHead}</td>
			<td class="status">&nbsp;</td>
			<th class="status">Middle Head:</th>
			<td class="status">{characterMidHead}</td>
		</tr>
		<tr>
			<th class="status">Lower Head:</th>
			<td class="status">{characterLowHead}</td>
			<td class="status">&nbsp;</td>
			<th class="status">Body:</th>
			<td class="status">{characterArmor}</td>
		</tr>
		<tr>
			<th class="status">Right Hand</th>
			<td class="status">{characterRightHand}</td>
			<td class="status">&nbsp;</td>
			<th class="status">Left Hand</th>
			<td class="status">{characterLeftHand}</td>
		</tr>
		<tr>
			<th class="status">Robe:</th>
			<td class="status">{characterRobe}</td>
			<td class="status">&nbsp;</td>
			<th class="status">Shoes:</th>
			<td class="status">{characterShoes}</td>
		</tr>
		<tr>
			<th class="status">Accessory:</th>
			<td class="status">{characterRightAccessory}</td>
			<td class="status">&nbsp;</td>
			<th class="status">Accessory:</th>
			<td class="status">{characterLeftAccessory}</td>
		</tr>
	</table>
</div>

<div id ="status_points_table" style = "position:absolute; left:5px; top:935px;">
	<table class="status" width="500">
	<CAPTION>Statuses</CAPTION>
	<tr>
		<td class="status">{characterStatusesSring}</td>
	</tr>
	</table>
</div>

</BODY>
</HTML>
