{{_header.html}}

<div class="span9">
	<div class="row-fluid">
		<div class="span9">
			<h3>{T Chat Log}</h3>

			<pre class="log chat" data-domains="web selfchat publicchat partychat guildchat pm pm/sent schat">{chatLog}</pre>

			</br>
		</div>

		{{_sidebar.html}}
	</div>
</div>

{{_footer.html}}
