<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<LINK href="styles/iframe.css" type=text/css rel=stylesheet>
</HEAD>
<BODY>
<!--[PT-BR] Exibe os logs do chat e permite enviar mensagens.
	 Parecido com o console.html.
	 Os logs do chat gerados são chamados de "chatlog.html" e feitos por "webMonitor\chatLogWebMonitor.pm"
	[EN] -->

		<script type="application/javascript" defer="defer">
		<!-- [PT-BR] Esta function tem com função enviar o comando ao OpenKore
		<!--  A leitura é feito no arquivo "webMonitorServer.pm", na sub "handle"
		<!-- [EN] This function has function with send the command to the OpenKore
		<!--  The reading is done in the "webMonitorServer.pm", in sub "handle"
		
			function send_command() {
				var tc = document.getElementById("text_command");
				var combo = document.getElementById("sel");
				window.location.href = '../handler?command=' + combo.options[combo.selectedIndex].value + tc.value + '&page={skin}/chat.html';
			}

		<!-- [PT-BR] Esta function serve para apenas reconhecer a tecla "enter" para enviar
		<!--  o comando
		<!-- [EN] This function is only to recognize the "enter" key to send
		<!--  the command		
			function submitenter(e) {
				var keycode;
				if (window.event) keycode = window.event.keyCode;

				if (keycode == 13) {
					send_command();
				}
			}
		</script>

		<select size="1" id="sel">
			<option selected value="c ">Chat</option>
			<option value="p ">Grupo</option>
			<option value="g ">Guild</option>
		</select>
		<input type="text" size="110" id="text_command" onKeyPress="submitenter(this.event)"/><br>
		
		<input type="button" value="Send command" onClick="send_command()"><br>
	
<div id ="nov" style = "position:absolute; left:5px; top:85px; width:795px; height:436px; z-index:2"> 
	<IFRAME name="nov" src="chatlog.html" frameborder=0 scrolling=auto width=790 height=436px></IFRAME>
</div>
</BODY>
</HTML>