{{_header.html}}

<div class="span9">
	<div class="row-fluid">
		<div class="span9">
			<h3>{T Console}</h3>

			<pre class="log console">{consoleLog}</pre>

			</br>
		</div>

		{{_sidebar.html}}
	</div>
</div>

{{_footer.html}}
