<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{characterName} - {characterLevel}/{characterJobLevel} - OpenKore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="img/favicon.png" />
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<script type='text/javascript' src='js/jquery.min.js'></script>
	<script type="text/javascript" src="js/bootstrap-2.0.2.js"></script>
	<link href="css/custom.css" rel="stylesheet">
    <style type="text/css">
		canvas { 
		background:url(/map/{characterLocationMap});
		background-size: contain;
		background-repeat: no-repeat;
		background-position:center; 
		}
    </style>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	<script type='text/javascript'>
		<!-- tooltip para icones -->
		!function( $ ){
		$(function () {	
		$('[rel=tooltip]').tooltip();
		});
		}( window.jQuery )
	</script>
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand">OpenKore</a>
    <ul class="nav">
      <li class="active"><a>{characterName}</a></li>
      <li><a>Base Level: {characterLevel}</a></li>
      <li><a>Job Level: {characterJobLevel}</a></li>
	  <li><a>userAccount: {userAccount}</a></li>
	  <li><a>Hora: {time}</a></li>
    </ul>
	<a href="/handler?command=quit" class="btn btn-danger btn-mini pull-right"><i class="icon-off icon-white"></i> OFF</a>
  </div>
</div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Menu</li>
              <li class="active"><a href="index.html"><i class="icon-user"></i> Status</a></li>
              <li><a href="inventory.html"><i class="icon-chevron-right"></i> Invent&aacute;rio</a></li>
			  <li><a href="report.html"><i class="icon-tasks"></i> Report</a></li>
			  <li><a href="config.html"><i class="icon-cog"></i> Config</a></li>
              <li><a href="console.html"><i class="icon-chevron-right"></i> Console</a></li>
              <li><a href="chatlog.html"><i class="icon-comment"></i> ChatLog</a></li>
              <li><a href="guild.html"><i class="icon-chevron-right"></i> Guild</a></li>
              <li><a href="shop.html"><i class="icon-shopping-cart"></i> Shop</a></li>
              <li><a href="npcs.html"><i class="icon-chevron-right"></i> NPC&#39;s</a></li>
              <li><a href="skills.html"><i class="icon-chevron-right"></i> Skills</a></li>
            </ul>
          </div>
        </div>
        <div class="span9">
          <div class="row-fluid">
            <div class="span9">
				<div class="span3">
				<div align="center"><div class="thumbnail job" id="job{characterSexID}{characterJobID}"></div></div>
				<strong>HP</strong>
				<h6 align="right">{characterHP}/{characterHPMax}</h6>
				<div class="progress" rel="tooltip" title="{characterHPPercent}%"><div class="bar bar-success" style="width: {characterHPPercent}%;"></div></div>
				<strong>SP</strong>
				<h6 align="right">{characterSP}/{characterSPMax}</h6>
				<div class="progress" rel="tooltip" title="{characterSPPercent}%"><div class="bar" style="width: {characterSPPercent}%;"></div></div>
				</div>
				<div class="span3">
					<table class="table-condensed">
						<tbody>
							<tr><td class="left">Str</td><td class="pull-right">{characterStr}+{characterStrBonus}  <a href="/handler?command=stat_add+str&page=index.html" rel="tooltip" title="You need <b>{characterStrPoints}</b> points for add 1 STR point!"><i class="icon-plus-sign"></i></a></td></tr>
							<tr><td class="left">Agi</td><td class="pull-right">{characterAgi}+{characterAgiBonus}  <a href="/handler?command=stat_add+agi&page=index.html" rel="tooltip" title="You need <b>{characterAgiPoints}</b> points for add 1 AGI point!"><i class="icon-plus-sign"></i></a></td></tr>
							<tr><td class="left">Vit</td><td class="pull-right">{characterVit}+{characterVitBonus}  <a href="/handler?command=stat_add+vit&page=index.html" rel="tooltip" title="You need <b>{characterVitPoints}</b> points for add 1 VIT point!"><i class="icon-plus-sign"></i></a></td></tr>
							<tr><td class="left">Int</td><td class="pull-right">{characterInt}+{characterIntBonus}  <a href="/handler?command=stat_add+int&page=index.html" rel="tooltip" title="You need <b>{characterIntPoints}</b> points for add 1 INT point!"><i class="icon-plus-sign"></i></a></td></tr>
							<tr><td class="left">Dex</td><td class="pull-right">{characterDex}+{characterDexBonus}  <a href="/handler?command=stat_add+dex&page=index.html" rel="tooltip" title="You need <b>{characterDexPoints}</b> points for add 1 DEX point!"><i class="icon-plus-sign"></i></a></td></tr>
							<tr><td class="left">Luk</td><td class="pull-right">{characterLuk}+{characterLukBonus}  <a href="/handler?command=stat_add+luk&page=index.html" rel="tooltip" title="You need <b>{characterLukPoints}</b> points for add 1 LUK point!"><i class="icon-plus-sign"></i></a></td></tr>
							<tr><td></td></tr>
							<tr><td class="left">Points</td><td class="pull-right">{characterFreePoints}</td></tr>
							<br/>
						</tbody>
					</table>
				</div>
				<div class="span3">
					<table class="table-condensed">
						<tbody>
							<tr><td class="left">Atk</td><td class="pull-right">{characterAttack}+{characterAttackBonus}</td></tr>
							<tr><td class="left">AtkM</td><td class="pull-right">{characterAttackMagicMax}~{characterAttackMagicMin}</td></tr>
							<tr><td class="left">Hit</td><td class="pull-right">{characterHit}</td></tr>
							<tr><td class="left">Critical</td><td class="pull-right">{characterCritical}</td></tr>
							<tr><td class="left">Def</td><td class="pull-right">{characterDef}+{characterDefBonus}</td></tr>
							<tr><td class="left">DefM</td><td class="pull-right">{characterDefMagic}+{characterDefMagicBonus}</td></tr>
							<tr><td class="left">Flee</td><td class="pull-right">{characterFlee}+{characterFleeBonus}</td></tr>
							<tr><td class="left">ASPD</td><td class="pull-right">{characterAttackSpeed}</td></tr>
							<br/>
						</tbody>
					</table>
				</div>
				<div class="span3">
					<table class="table-condensed">
						<tbody>
							<br/>
							<tr>Base Level<br/>
							<h6 align="right">{characterBaseExp}/{characterBaseMax}</h6>
							<div class="progress" rel="tooltip" title="{characterBasePercent}%"><div class="bar" style="width: {characterBasePercent}%;"></div></div>
							</tr>
							<tr>Job Level<br/>
							<h6 align="right">{characterJobExp}/{characterJobMax}</h6>
							<div class="progress" rel="tooltip" title="{characterJobPercent}%"><div class="bar" style="width: {characterJobPercent}%;"></div></div>
							</tr>
							<tr>Weight<br/>
							<h6 align="right">{characterWeight}/{characterWeightMax}</h6>
							<div class="progress" rel="tooltip" title="{characterWeightPercent}%"><div class="bar bar-danger" style="width: {characterWeightPercent}%;"></div></div>
							</tr>
							<tr>Zeny<br/>
							<div class="pull-right"><span class="label label-success">{characterZeny}</span></div>
							</tr>
						</tbody>
					</table>
				</div>
            </div><!--/span-->
			
            <div class="span3">
              <br/><h5 class="center"><i class="icon-map-marker"></i> {characterLocationMap}</h5>
				<div class="center"><canvas id="mapa"></canvas><br/></div>
				<script>
				var c=document.getElementById("mapa");
				var ctx=c.getContext("2d");
				ctx.fillStyle="#FF0000";
				ctx.fillRect(150,150,5,3);
				</script>
				<p><div class="center" id="coord">{characterLocationX},{characterLocationY}</p></div>
			</div><!--/span-->
			
          </div><!--/row-->
		  
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p align="center">BonScott &copy; webMonitor 2012</p>
      </footer>

    </div>

  </body>
</html>
