<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{characterName} - {characterLevel}/{characterJobLevel} - OpenKore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<script type='text/javascript' src='js/jquery.min.js'></script>
	<script type="text/javascript" src="js/bootstrap-2.0.2.js"></script>
	<link href="css/custom.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	<script type='text/javascript'>
		!function( $ ){
		$(function () {	
		$('[rel=tooltip]').tooltip();
		});
		}( window.jQuery )
	</script>
</head>
<body>
<script type="text/javascript" defer="defer">
			function exibir(escolha) {
				var escolhido = escolha.options[escolha.selectedIndex].value;
				var tabela_lista = document.getElementById("listarItens");	
				
				if (escolhido == 'none'){
				tabela_lista.innerHTML = '';
				}
				
				if (escolhido == 'usable'){
				tabela_lista.innerHTML = '{startLoop}<tr><td><img src="http://www.ragdata.com/images/item/small/{usableID}.gif"/></td><td>{inventoryUsableAmount}</td><td class="left">{inventoryUsable}</td>{inventoryUsableJS}</tr>{endLoop}';
				}
				
				if (escolhido == 'equipped'){
				tabela_lista.innerHTML = '{startLoop}<tr><td><img src="http://www.ragdata.com/images/item/small/{equipmentID}.gif"/></td><td>1</td><td class="left">{inventoryEquipped}</td><td></td>{inventoryEquippedJS}</tr>{endLoop}';
				}
				
				if (escolhido == 'unequipped'){
				tabela_lista.innerHTML = '{startLoop}<tr><td><img src="http://www.ragdata.com/images/item/small/{uequipmentID}.gif"/></td><td>1</td><td class="left">{inventoryUnequipped}</td>{inventoryUnequippedJS}</tr>{endLoop}';
				}
				
				if (escolhido == 'unusable'){
				tabela_lista.innerHTML = '{startLoop}<tr><td><img src="http://www.ragdata.com/images/item/small/{unusableID}.gif"/></td><td>{inventoryUnusableAmount}</td><td class="left">{inventoryUnusable}</td><td></td>{inventoryUnusableJS}</tr>{endLoop}';
				}
			}
</script>
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand">OpenKore</a>
    <ul class="nav">
      <li class="active"><a>{characterName}</a></li>
      <li><a>Base Level: {characterLevel}</a></li>
      <li><a>Job Level: {characterJobLevel}</a></li>
	  <li><a>userAccount: {userAccount}</a></li>
	  <li><a>Hora: {time}</a></li>
    </ul>
	<a href="/handler?command=quit" class="btn btn-danger btn-mini pull-right"><i class="icon-off icon-white"></i> OFF</a>
  </div>
</div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Menu</li>
              <li><a href="index.html"><i class="icon-user"></i> Status</a></li>
              <li class="active"><a href="inventory.html"><i class="icon-chevron-right"></i> Invent&aacute;rio</a></li>
			  <li><a href="config.html"><i class="icon-cog"></i> Config</a></li>
              <li><a href="console.html"><i class="icon-map-marker"></i> Console</a></li>
              <li><a href="chatlog.html"><i class="icon-comment"></i> ChatLog</a></li>
              <li><a href="guild.html"><i class="icon-chevron-right"></i> Guild</a></li>
              <li><a href="shop.html"><i class="icon-shopping-cart"></i> Shop</a></li>
              <li><a href="npcs.html"><i class="icon-chevron-right"></i> NPC&#39;s</a></li>
              <li><a href="skills.html"><i class="icon-chevron-right"></i> Skills</a></li>
            </ul>
          </div>
        </div>
        <div class="span9">
          <div class="row-fluid">
            <div class="span9">
			
			<select class="span9" id="tipo" onChange="exibir(this)">
				<option selected value="none">Choose Option</option>
				<option value="usable">Usable</option>
				<option value="equipped">Equipped</option>
				<option value="unequipped">Unequipped</option>
				<option value="unusable">Unusable</option>
			</select>			
			
			<table class="table table-hover">
				<thead>
					<tr>
						<th></th>
						<th>Qnt.</th>
						<th>Item</th>
						<th>A&ccedil;&atilde;o</th>
						<th>Dropar</th>
					</tr>
				</thead>
				<tbody id="listarItens">
				</tbody>
			</table>

            </div>

          </div>
		  
        </div>
      </div>

      <hr>

      <footer>
        <p align="center">BonScott &copy; webMonitor 2012</p>
      </footer>

    </div>
  </body>
</html>
