<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{characterName} - {characterLevel}/{characterJobLevel} - OpenKore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<script type='application/javascript' src='js/jquery.min.js'></script>
	<script type="application/javascript" src="js/bootstrap-2.0.2.js"></script>
	<link href="css/custom.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	<script type='application/javascript'>
		<!-- tooltip para icones -->
		!function( $ ){
		$(function () {	
		$('[rel=tooltip]').tooltip();
		});
		}( window.jQuery )
		<!-- tabs -->
		jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
	</script>
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand">OpenKore</a>
    <ul class="nav">
      <li class="active"><a>{characterName}</a></li>
      <li><a>Base Level: {characterLevel}</a></li>
      <li><a>Job Level: {characterJobLevel}</a></li>
	  <li><a>userAccount: {userAccount}</a></li>
	  <li><a>Hora: {time}</a></li>
    </ul>
	<a href="/handler?command=quit" class="btn btn-danger btn-mini pull-right"><i class="icon-off icon-white"></i> OFF</a>
  </div>
</div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Menu</li>
              <li><a href="index.html"><i class="icon-user"></i> Status</a></li>
              <li><a href="inventory.html"><i class="icon-chevron-right"></i> Invent&aacute;rio</a></li>
			  <li class="active"><a href="report.html"><i class="icon-tasks"></i> Report</a></li>
			  <li><a href="config.html"><i class="icon-cog"></i> Config</a></li>
              <li><a href="console.html"><i class="icon-chevron-right"></i> Console</a></li>
              <li><a href="chatlog.html"><i class="icon-comment"></i> ChatLog</a></li>
              <li><a href="guild.html"><i class="icon-chevron-right"></i> Guild</a></li>
              <li><a href="shop.html"><i class="icon-shopping-cart"></i> Shop</a></li>
              <li><a href="npcs.html"><i class="icon-chevron-right"></i> NPC&#39;s</a></li>
              <li><a href="skills.html"><i class="icon-chevron-right"></i> Skills</a></li>
            </ul>
          </div>
        </div>
        <div class="span10">
          <div class="row-fluid">
            <div class="span10">
				<div class="span3">
				<div align="center"><div class="thumbnail job" id="job{characterSexID}{characterJobID}"></div></div>
				<strong>HP</strong>
				<h6 align="right">{characterHP}/{characterHPMax}</h6>
				<div class="progress" rel="tooltip" title="{characterHPPercent}%"><div class="bar bar-success" style="width: {characterHPPercent}%;"></div></div>
				<strong>SP</strong>
				<h6 align="right">{characterSP}/{characterSPMax}</h6>
				<div class="progress" rel="tooltip" title="{characterSPPercent}%"><div class="bar" style="width: {characterSPPercent}%;"></div></div>
				</div>
			
				<div class="span8">
				
				<div class="tabbable">
				
				<ul class="nav nav-tabs">
					<li class="active"><a href="#exp" data-toggle="tab" rel="tooltip" title="Geral Overview">Experience</a></li>
					<li><a href="#" data-toggle="tab" rel="tooltip" title="Monster Killed Until Now">Monsters</a></li>
					<li><a href="#" data-toggle="tab" rel="tooltip" title="Items Dropped Until Now">Itens</a></li>
					<li class="pull-right"><a href="#" rel="tooltip" title="Reset statistics of openKore!"><i class="icon-repeat"></i><i> Reset</a></i></li>
				</ul>
				
				<div class="tab-content">
					<div class="tab-pane active" id="exp">
					<i class="icon-time"></i>  Bot Time: {totalElasped}<br/> <!-- startTimeEXP: -->
					<i class="icon-exclamation-sign"></i>  Died: {deathCount}<br/>
					<br/>
					<i class="icon-ok-circle"></i>  Base Exp Gained: {totalBaseExp}<br/>
					<i class="icon-ok-circle"></i>  Job Exp Gained: {totalJobExp}<br/>
					<br/>
					<i class="icon-circle-arrow-up"></i>  Time for Base UP: {levelupBaseEstimation}<br/>
					<i class="icon-circle-arrow-up"></i>  Time for Job UP: {levelupJobEstimation}<br/>
					<br>
					<i class="icon-briefcase"></i>  zeny made: {zenyMade}z
					</div>
					<div class="tab-pane" id="monsters">
					<table class="table table-hover">
						<tbody>
						<tr>
						  <td><img src="http://db.irowiki.org/image/monster/1033.png"></td>
						  <td>999</td>
						  <td>Elder Willow</td>
						</tr>
						<tr>
						  <td><img src="http://db.irowiki.org/image/monster/1317.png"></td>
						  <td>111</td>
						  <td>Seal</td>
						</tr>
						<tr>
						  <td><img src="http://db.irowiki.org/image/monster/1169.png"></td>
						  <td>777</td>
						  <td>Skel Worker</td>
						</tr>
						</tbody>
					</table>
					</div>
					<div class="tab-pane" id="itens">
						<table class="table table-hover">
						<tbody>
						<tr>
						  <td><img src="http://db.irowiki.org/image/item/604.png"></td>
						  <td>999</td>
						  <td>Dead Branch</td>
						</tr>
						<tr>
						  <td><img src="http://db.irowiki.org/image/item/746.png"></td>
						  <td>2151</td>
						  <td>Glass Bead</td>
						</tr>
						<tr>
						  <td><img src="http://db.irowiki.org/image/item/4312.png"></td>
						  <td>1</td>
						  <td>Skel Worker Card</td>
						</tr>
						</tbody>
					</table>
					</div>
				</div>
				</div>
				

				
				</div>
            </div><!--/span-->
			
	
          </div><!--/row-->
		  
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p align="center">BonScott &copy; webMonitor 2012</p>
      </footer>

    </div>

  </body>
</html>