.coverFile {
	text-align:       left;
	color:            gray;
	padding-left:     10px;
	padding-right:    10px;
}

.coverBar {
	padding-left:     10px;
	padding-right:    10px;
}

.coverBarOutline {
	border: 1px solid black;
	background-color: #ffffff;
	width: 100px;
	font-size: 11px; line-height: 11px;
	font-family: tahoma;
	position: relative;
}

.coverPerHi, .coverPerMed, .coverPerLo {
	text-align:       center;
	font-weight:      bold;
	left: 0px; top: 2px;
	position: absolute;
	width: 100%;
}
.coverBarHi, .coverBarMed, .coverBarLo { left: 1px; top: 1px; height: 14px; }
.coverBarHi  { background-color: #A7FC9D; }
.coverBarMed { background-color: #FFEA20; }
.coverBarLo  { background-color: #FF0000; }


.coverNumHi, .coverNumMed, .coverNumLo {
	text-align:       right;
	padding-left:     10px;
	padding-right:    10px;
}
.coverNumHi  { /*background-color: #A7FC9D;*/ }
.coverNumMed { /*background-color: #FFEA20;*/ }
.coverNumLo  { background-color: #FF0000; }

.lineCov   { background-color: #F0F0F0; }
.lineNoCov { background-color: #ffe0e0; }
div.code {
	border: 1px solid gray;
	font-size: 12px;
}
pre.code {
	font-family: monospace;
	font-size: 12px;
	white-space: pre;
	padding: 0; margin: 0;
}

.error { color: red; }
