body {
	background: #f8edd1;
	font-family: 'Bitstream Vera Sans', 'Helvetica', 'Arial', 'Sans-Serif';
	margin: 0;
	padding: 0;
	font-size: 14px;
}

table {
	width: 100%;
	padding: 16px;
}

table td {
	vertical-align: middle;
}

a {
	text-decoration: none;
	color: blue;
}

a:hover {
	color: #5555ff;
}

#menu, #languages {
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu li {
	display: inline;
	float: left;
	margin: 0;
	padding: 0;
	margin-right: 16px;
}

#menu li img {
	vertical-align: middle;
	margin-right: 6px;
	border: 0;
}

#menu li a {
	background: #fff9ea;
	height: 48px;
	display: block;
	padding: 8px;
	float: left;
}

#menu li a:hover {
	background: white;
}

#languages {
	margin-bottom: 8px;
}

#languages li {
	display: inline;
	margin-right: 1em;
}
