<table class="tablebg" width="100%" cellspacing="1">
<tr>
	<th align="center">{L_POST_REVIEW}</th>
</tr>
<tr>
	<td class="row1" align="center"><span class="gen">{L_POST_REVIEW_EXPLAIN}</span></td>
</tr>
<tr>
<td class="row1">
	<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th width="22%">{L_AUTHOR}</th>
		<th>{L_MESSAGE}</th>
	</tr>
	<!-- BEGIN post_review_row -->
	<tr>
	<td class="row2" valign="top"><a id="pr{post_review_row.POST_ID}"></a>
		<table cellspacing="4" width="125">
		<tr>
			<td align="center" nowrap="nowrap">
				<table class="tablebg" cellspacing="1">
				<tr>
					<td class="row1" nowrap="nowrap"><b class="postauthor">{post_review_row.POST_AUTHOR_FULL}</b></td>
				</tr>
				</table>
			</td>
		</tr>
		</table>
	</td>
	<td class="row1" width="100%" valign="top">
		<table width="100%" cellspacing="5">
		<tr>
			<td>
				<table class="tablebg" width="100%" cellspacing="1">
				<tr>
					<td class="row2" cellspacing="6"><b>{L_POST_SUBJECT}:</b>{post_review_row.POST_SUBJECT}</td>
				</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td valign="top">
				<table width="100%" cellspacing="0">
				<tr>
					<td valign="top">
						<table width="100%" cellspacing="0" cellpadding="2">
						<tr>
							<td><div class="postbody">{post_review_row.MESSAGE}</div>
<!-- IF post_review_row.S_HAS_ATTACHMENTS -->
							<br clear="all" />
								<table class="tablebg" width="50%" cellspacing="1">
								<tr>
									<th>{L_ATTACHMENTS}</th>
								</tr>
								<!-- BEGIN attachment -->
								<tr>
									<td class="row2" align="center">{post_review_row.attachment.DISPLAY_ATTACHMENT}</td>
								</tr>
								<!-- END attachment -->
								</table>
<!-- ENDIF -->
							</td>
						</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<table class="tablebg" width="100%" cellspacing="1">
						<tr valign="middle">
							<td class="row2"><div style="float: {S_CONTENT_FLOW_BEGIN};"><span class="gensmall"><!-- IF S_IS_BOT -->{post_review_row.MINI_POST_IMG}<!-- ELSE --><a href="{post_review_row.U_MINI_POST}">{post_review_row.MINI_POST_IMG}222</a><!-- ENDIF --></div><div style="float: {S_CONTENT_FLOW_END};"><b>{L_POSTED}:</b> {post_review_row.POST_DATE}</div></td>
						</tr>
						</table>
					</td>
				</tr>
				</table>
			</td>
		</tr>
<!-- IF not post_review_row.S_LAST_ROW -->
		<tr>
			<td class="row3" colspan="2" height="1">{SITENAME}</td>
		</tr>
<!-- ENDIF -->
		<!-- END post_review_row -->
		</table>
	</td>
</tr>
</table>

</td>
</tr>
</table>

<br clear="all" />