<!-- INCLUDE simple_header.html -->

<script type="text/javascript">
// <![CDATA[
/**
* Jump to inbox
*/
function jump_to_inbox(url)
{
	opener.document.location.href = url.replace(/&amp;/g, '&');
	window.close();
}
// ]]>
</script>

<img src="{T_THEME_PATH}/images/spacer.gif" width="100%" height="10">

	<table class="tablebg" width="100%" height="100%" border="0" cellspacing="1" cellpadding="4">
		<tr>
			<th>{L_PRIVATE_MESSAGE} for {S_USERNAME}</th>
		</tr>
		<tr>
			<td class="row1" align="center">
				<img src="{T_THEME_PATH}/images/pm_clapping.gif"><br /><br />
				<b class="row2 genmed" style="border: 1px solid #a9b8c2" />
			<!-- IF S_NOT_LOGGED_IN -->
				{L_LOGIN_CHECK_PM}<br /><br />
			<!-- ELSE -->
				{MESSAGE}</b><br />
				<span class="genmed"><img src="{T_THEME_PATH}/images/pm_mail.gif">
				<img src="{T_THEME_PATH}/images/spacer.gif" width="40" height="10">
				{CLICK_TO_VIEW}
				<img src="{T_THEME_PATH}/images/spacer.gif" width="40" height="10">
				<img src="{T_THEME_PATH}/images/pm_read.gif"></span><br /><br />
			<!-- ENDIF -->
			</td>
		</tr>
	</table>

	<table width="100%" border="0">
		<tr>
			<td width="100%" align="{S_CONTENT_FLOW_END}">
				<span class="copyright"><a href="#" onclick="window.close(); return false;"><img src="{T_THEME_PATH}/images/pm_close.png"></a></span>
			</td>
		</tr>
	</table>

<!-- INCLUDE simple_footer.html -->