<!-- INCLUDE overall_header.html -->

<!-- INCLUDE breadcrumbs_pages.html -->
<br />

<a name="faqtop"></a>

<div id="pagecontent">

<div><div class="tbl-h-l"><div class="tbl-h-r"><div class="tbl-h-c"><div class="tbl-title">{L_FAQ_TITLE}</div></div></div></div>
<table class="tablebg" width="100%" cellpadding="0" cellspacing="0">
<tr>
	<td class="row1">
	<!-- BEGIN faq_block -->
		<span class="gen"><b>{faq_block.BLOCK_TITLE}</b></span><br />
		<!-- BEGIN faq_row -->
			<span class="gen"><a class="postlink" href="#f{faq_block.S_ROW_COUNT}{faq_block.faq_row.S_ROW_COUNT}">{faq_block.faq_row.FAQ_QUESTION}</a></span><br />
		<!-- END faq_row -->
		<br />
	<!-- END faq_block -->
	</td>
</tr>
<tr><td class="cat-bottom">&nbsp;</td></tr>
</table>
<div class="tbl-f-l"><div class="tbl-f-r"><div class="tbl-f-c">&nbsp;</div></div></div></div>

<br clear="all" />

<!-- BEGIN faq_block -->
	<div><div class="tbl-h-l"><div class="tbl-h-r"><div class="tbl-h-c"><div class="tbl-title">{faq_block.BLOCK_TITLE}</div></div></div></div>
	<table class="tablebg" width="100%" cellpadding="0" cellspacing="0">
	<!-- BEGIN faq_row -->
	<tr>
		<!-- IF faq_block.faq_row.S_ROW_COUNT is even -->
			<td class="row1" valign="top">
		<!-- ELSE -->
			<td class="row2" valign="top">
		<!-- ENDIF -->
			<div class="postbody"><a name="f{faq_block.S_ROW_COUNT}{faq_block.faq_row.S_ROW_COUNT}"></a><b>&#187; {faq_block.faq_row.FAQ_QUESTION}</b></div>
			<div class="postbody">{faq_block.faq_row.FAQ_ANSWER}</div>
			<p class="gensmall"><a href="#faqtop">{L_BACK_TO_TOP}</a></p>
		</td>
	</tr>
	<tr><td class="spacer"><img src="{T_THEME_PATH}/images/spacer.gif" width="1" height="4" alt="" /></td></tr>
	<!-- END faq_row -->
	<tr><td class="cat-bottom">&nbsp;</td></tr>
	</table>
	<div class="tbl-f-l"><div class="tbl-f-r"><div class="tbl-f-c">&nbsp;</div></div></div></div>

	<br clear="all" />
<!-- END faq_block -->

</div>

<!-- INCLUDE breadcrumbs_footer.html -->
<br clear="all" />
<div align="{S_CONTENT_FLOW_END}"><!-- INCLUDE jumpbox.html --></div>
<!-- INCLUDE overall_footer.html -->