<div><div class="tbl-h-l"><div class="tbl-h-r"><div class="tbl-h-c"><div class="tbl-title">{L_PREVIEW}</div></div></div></div>
<table class="tablebg" width="100%" cellpadding="0" cellspacing="0">
<tr><td class="row-post-top"><div style="float:right;"><span class="postdetails">{L_POST_SUBJECT}: {PREVIEW_SUBJECT}</span></div>{MINI_POST_IMG}&nbsp;<span class="postdetails">{L_POSTED}: {POST_DATE}</span></td></tr>
<!-- IF S_HAS_POLL_OPTIONS -->
	<tr>
		<td class="row2" align="center"><br clear="all" />
			<table cellspacing="0" cellpadding="4" border="0" align="center">
			<tr><td align="center"><span class="gen"><b>{POLL_QUESTION}</b></span><br /><span class="gensmall">{L_POLL_LENGTH}</span></td></tr>
			<tr>
				<td align="center">
					<table cellspacing="0" cellpadding="2" border="0">
					<!-- BEGIN poll_option -->
						<tr>
							<td>
							<!-- IF S_IS_MULTI_CHOICE -->
								<input type="checkbox" class="radio" name="vote_id" value="" />
							<!-- ELSE -->
								<input type="radio" class="radio" name="vote_id" value="" />
							<!-- ENDIF -->
							</td>
							<td><span class="gen">{poll_option.POLL_OPTION_CAPTION}</span></td>
						</tr>
					<!-- END poll_option -->
					</table>
				</td>
			</tr>
			<tr><td align="center"><span class="gensmall">{L_MAX_VOTES}</span></td></tr>
			</table>
		</td>
	</tr>
<!-- ENDIF -->
<tr>
	<td class="row-post-body">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td>
				<div class="postbody">{PREVIEW_MESSAGE}</div>
			<!-- IF .attachment -->
				<br clear="all" /><br />

				<table class="tablebg" width="100%" cellpadding="0" cellspacing="0">
				<tr><th>{L_ATTACHMENTS}</th></tr>
				<!-- BEGIN attachment -->
					<tr><td class="row2">{attachment.DISPLAY_ATTACHMENT}</td></tr>
				<!-- END attachment -->
				</table>
			<!-- ENDIF -->
			<!-- IF PREVIEW_SIGNATURE --><div class="postbody"><br />_________________<br />{PREVIEW_SIGNATURE}</div><!-- ENDIF --></td>
		</tr>
		</table>
	</td>
</tr>
<tr><td class="spacer"><img src="{T_THEME_PATH}/images/spacer.gif" width="1" height="4" alt="" /></td></tr>
<tr><td class="cat-bottom">&nbsp;</td></tr>
</table>
<div class="tbl-f-l"><div class="tbl-f-r"><div class="tbl-f-c">&nbsp;</div></div></div></div>

<br clear="all" />