<!-- INCLUDE overall_header.html -->

<!-- INCLUDE breadcrumbs_pages.html -->
<br />
<script type="text/javascript" defer="defer" >
// <![CDATA[

	var old_func = window.onload;

	function disable(disabl)
	{
		document.getElementById("agreed").disabled = disabl;
	}

	function disable_and_handle()
	{
		if (old_func)
		{
			old_func();
		}
		disable(true);
	}

	<!-- IF S_TIME -->
		window.onload = disable_and_handle;
		setInterval("disable(false)", {S_TIME});
	<!-- ENDIF -->
// ]]>
</script>

<!-- IF S_SHOW_COPPA or S_REGISTRATION -->
	
	<form method="post" action="{S_UCP_ACTION}">
	
	<div><div class="tbl-h-l"><div class="tbl-h-r"><div class="tbl-h-c"><div class="tbl-title">{SITENAME} - {L_REGISTRATION}</div></div></div></div>
	<table class="tablebg" width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td class="row1" align="center">
			<table width="90%" cellspacing="2" cellpadding="2" border="0" align="center">
			<tr>
				<!-- IF S_SHOW_COPPA -->
					<td class="gen" align="center"><br />{L_COPPA_BIRTHDAY}<br /><br /><a href="{U_COPPA_NO}">{L_COPPA_NO}</a> :: <a href="{U_COPPA_YES}">{L_COPPA_YES}</a><br /><br /></td>
				<!-- ELSE -->
					<td>
						<span class="genmed"><br />{L_TERMS_OF_USE}<br /><br /></span>
						<div align="center">
							<input class="btnlite" type="submit" id="agreed" name="agreed" value="{L_AGREE}" /><br /><br />
							<input class="btnlite" type="submit" name="not_agreed" value="{L_NOT_AGREE}" />
						</div>
					</td>
				<!-- ENDIF -->
			</tr>
			</table>
		</td>
	</tr>
	<tr><td class="cat-bottom">&nbsp;</td></tr>
	</table>
	<div class="tbl-f-l"><div class="tbl-f-r"><div class="tbl-f-c">&nbsp;</div></div></div></div>
	{S_HIDDEN_FIELDS}
	{S_FORM_TOKEN}
	</form>
	
<!-- ELSEIF S_AGREEMENT -->

	<div><div class="tbl-h-l"><div class="tbl-h-r"><div class="tbl-h-c"><div class="tbl-title">{SITENAME} - {AGREEMENT_TITLE}</div></div></div></div>
	<table class="tablebg" width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td class="row1" align="center">
			<table width="90%" cellspacing="2" cellpadding="2" border="0" align="center">
			<tr>
				<td>
					<span class="genmed"><br />{AGREEMENT_TEXT}<br /><br /></span>
					<div align="center">
						<a href="{U_BACK}">{L_BACK}</a>
					</div>
				</td>
			</tr>
			</table>
		</td>
	</tr>
	<tr><td class="cat-bottom">&nbsp;</td></tr>
	</table>
	<div class="tbl-f-l"><div class="tbl-f-r"><div class="tbl-f-c">&nbsp;</div></div></div></div>

<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->