<!-- INCLUDE simple_header.html -->

<script type="text/javascript">
// <![CDATA[
/**
* Jump to inbox
*/
function jump_to_inbox(url)
{
	opener.document.location.href = url.replace(/&amp;/g, '&');
	window.close();
}
// ]]>
</script>

<table width="100%" cellpadding="10" cellspacing="0" border="0">
<tr>
	<td>
		<div><div class="tbl-h-l"><div class="tbl-h-r"><div class="tbl-h-c"><div class="tbl-title">&nbsp;</div></div></div></div>
		<table class="tablebg" width="100%" cellpadding="0" cellspacing="0">
		<tr class="row1">
			<td valign="top" align="center">
				<br /><span class="gen">
				<!-- IF S_NOT_LOGGED_IN -->
					{L_LOGIN_CHECK_PM}
				<!-- ELSE -->
					{MESSAGE}<br /><br />{CLICK_TO_VIEW}
				<!-- ENDIF -->
				</span>
				<br /><br /><span class="genmed"><a href="#" onclick="window.close(); return false;">{L_CLOSE_WINDOW}</a></span><br /><br />
			</td>
		</tr>
		<tr><td class="cat-bottom">&nbsp;</td></tr>
		</table>
		<div class="tbl-f-l"><div class="tbl-f-r"><div class="tbl-f-c">&nbsp;</div></div></div></div>
	</td>
</tr>
</table>

<!-- INCLUDE simple_footer.html -->